<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - F7_HW</title>
    <link rel='stylesheet' href='./bootstrap.min.css'>

</head>

<body>
    <!-- partial:index.partial.html -->
    <script type="importmap">
  {
    "imports": {
      "vue": "./vue.esm-browser.js"
    }
  }
</script>
    <div id="app">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="form-group col-md-3">
                    <label for="n-steps">Сдвиг, n</label>
                    <input type="text" class="form-control" id="n-steps" placeholder="3" v-model.number="nSteps"
                        @input="()=>{encryptOnChange();decryptOnChange()}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md">
                    <label for="for-cipher">Шифруемый текст</label>
                    <input type="text" class="form-control" id="for-cipher" placeholder="текст" v-model="inp_mess"
                        @input="encryptOnChange">
                </div>
                <div class="form-group col-md">
                    <label for="ciphered-text">Зашифрованный текст</label>
                    <input type="text" class="form-control" id="ciphered-text" placeholder="текст"
                        v-bind:value="outCiphMessage">
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="form-group col-md-6">
                    <button class="btn btn-primary" @click="()=>{inpToDeCipherMess=outCiphMessage;decryptOnChange()}">
                        Перенести зашифрованный текст в дешифруемый текст
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md">
                    <label for="ciphered-text2">Дешифруемый текст</label>
                    <input type="text" class="form-control" id="ciphered-text2" placeholder="текст"
                        v-model="inpToDeCipherMess" @input="decryptOnChange">
                </div>
                <div class="form-group col-md">
                    <label for="deciphered-text">Дешифрованный текст</label>
                    <input type="text" class="form-control" id="deciphered-text" placeholder="текст"
                        v-bind:value="outDeCipherMess">
                </div>
            </div>
        </div>
        <!-- partial -->
        <script type="module" src="./script.js"></script>

</body>

</html>